<%= form_for @sublocation, :html => { :class => "form-horizontal sublocation" } do |f| %>

    <% if @sublocation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sublocation.errors.count, "error") %> prohibited this sublocation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sublocation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@sublocation[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :location_id, Location.all, :id, :name, :class => 'form-control' %>
    </div>
    <%= error_span(@sublocation[:location_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            sublocations_path, :class => 'btn btn-default' %>

<% end %>
